@font-face {
  font-family: 'Lipi%20Mollika%20Unicode.ttf';
  src: url('https://cdn.jsdelivr.net/gh/itsmdibrahim/tenolent/Lipi%20Mollika%20Unicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
