@font-face {
  font-family: 'Mollika';
  src: url('https://cdn.jsdelivr.net/gh/itsmdibrahim/tenolent/Mollika.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sculpin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/itsmdibrahim/tenolent/Sculpin-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sculpin-Black';
  src: url('https://cdn.jsdelivr.net/gh/itsmdibrahim/tenolent/Sculpin-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Sculpin-Light';
  src: url('https://cdn.jsdelivr.net/gh/itsmdibrahim/tenolent/Sculpin-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Sculpin-Medium';
  src: url('https://cdn.jsdelivr.net/gh/itsmdibrahim/tenolent/Sculpin-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Sculpin-Regular';
  src: url('https://cdn.jsdelivr.net/gh/itsmdibrahim/tenolent/Sculpin-Regular.ttf') format('truetype');
}
